
select{
    margin-bottom: 5%;
}
.invisible{
    visibility: hidden;
}
.namebar{
    overflow: hidden;
    position: fixed;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}
.typeOfLabour{
    display: block;
    visibility: visible;
    margin-bottom: 0%;
    font-size: 80%;
}

.submitbtn{
    font-size: 120%;
    height: 4%;
    border: 0px;
    color: #ffffff;
    background-color: #a8a8a8;
}
.bkbtn{
    float: right;
    margin-right: 0%;
    padding: 0% 1%;
    border-radius: 5%;
    border: 0px;
    color: #ffffff;
    background-color: #a8a8a8;
}
.bkbtn:hover, .bkbtn:active{
    background: #575457;
    text-decoration: none;
    color: white;
}

#id_Deployment,#id_Length,#id_Breadth,#id_Depth,#id_Quantity{
    width: 100%;
    height: 4%;
    margin-bottom: 5%;
}
#id_NoLabor, #id_NoHelp{
    width: 100%;
}
#navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}
#date{
    display: inline;
    margin-left: 2%;
}
#extra{
    margin-top: 0%;
    margin-left: 30%;
    float: bottom;
    visibility: hidden;
}
#display {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}

#display td, #display th {
  border: 1px solid #ddd;
  padding: 8px;
}

#display tr:nth-child(even){background-color: #f2f2f2;}

#display tr:hover {background-color: #ddd;}

#display th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(170, 170, 170);
  color: white;
}
