body
{
    background-image: url(https://www.urcindia.com/img/new_logo.svg);
    background-repeat:no-repeat;
    background-position: 50% 15%;
    background-size: 40%;
    height: 844px;
}
button:hover {
    background: #575457;
    text-decoration: none;
}
input{
    font-size: 120%;
    width: 130%;
    background-color:#d7d5d5;
}
form{
    position: absolute;
    margin-top: 70%;
    margin-left: 5%;
}

.bkbtn{
    float: right;
    margin-right: 1%;
    border: 0px;
    color: #ffffff;
    background-color: #a8a8a8;
}
.submitbtn{
    margin-top: 0px; 
    margin-left: 230px; 
    margin-right: 0px;
    position: absolute;
    font-size: 170%;
    float: right;
    border-radius: 5%;
    color: #ffffff;
    background-color: #a8a8a8;
}
.namebar{
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}

#errormsg{
    margin-top: 10%;
    margin-right: 8%;
    font-size: 130%;
}
#navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 200%;
    background: #a8a8a8;
}
#date{
    display: inline;
    margin-left: 1%;
}
@media only screen and (min-width: 600px) {
    body
    {
        background-image: url(https://www.urcindia.com/img/new_logo.svg);
        background-repeat:no-repeat;
        background-position: 52% 15%;
        background-size: 20%;
        height: 700px;
    }
    button:hover {
        background: #575457;
        text-decoration: none;
    }
    input{
        border-radius: 5px;
        border: 1px #000000;
        font-size: 120%;
        width: 130%;
        background-color:#d7d5d5;
    }
    select{
        border-radius: 5px;
        border: 1px solid #000000;
        font-size: 120%;
        width: 130%;
        background-color:#d7d5d5;
    }
    form{
        position: absolute;
        margin-top: 0%;
        margin-left: 0%;
        top: 37%;
        left: 42%;
    }
    .bkbtn:hover{
        color: #ffffff;
        background: #575457;
        text-decoration: none;
    }
    .bkbtn{
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 5px;
        float: right;
        margin-right: 0%;
        border: 0px;
        color: #ffffff;
        background-color: #a8a8a8;
    }
    .submitbtn{
        box-shadow: #575457 0px 0px 10px;
        margin-top: 0%; 
        margin-left: 0%; 
        margin-right: 0px;
        top: 130%;
        border: 0px;
        position: absolute;
        font-size: 170%;
        border-radius: 5px;
        color: #ffffff;
        background-color: #a8a8a8;
    }
    .submitbtn:hover{
        color: #ffffff;
        background: #4b4b4b;
        box-shadow: #4b4b4b 0px 0px 10px;
        text-decoration: none;
    }
    .namebar{
        overflow: hidden;
        position: absolute;
        width: 100%;
        font-size: 200%;
        background: #a8a8a8;
    }

    #errormsg{
        margin-top: 10%;
        margin-right: 8%;
        font-size: 130%;
    }
    #navbar{
        overflow: hidden;
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 200%;
        background: #a8a8a8;
    }
    #date{
        display: inline;
        margin-left: 1%;
    }
}